.burger {
  display: block;
  border: 0;
  background-color: inherit;
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    background-color: $color-black;
    transition: 0.5s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger__line {
  position: absolute;
  width: 24px;
  top: 8px;
  right: 0;
  height: 2px;
  background-color: $color-black;
}
