.media-list {
  display: flex;
  justify-content: center;
}

.media-list__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.media-list__link {
  &:focus {
    .media-svg {
      fill: $color-main;
    }
  }
}

@media (min-width: 767px) {
  .media-list {
    margin-left: 29px;
    padding-top: 5px;
  }

  .media-list__item {
    &:not(:last-child) {
      margin-right: 29px;
    }
  }
}

@media (min-width: 1440px) {
  .media-list {
    align-items: center;
    margin-left: 10px;
  }

  .media-list__item {
    &:not(:last-child) {
      margin-right: 29px;
    }
  }
}
