.media-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-list__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.media-list__link {

  &:focus {
    .media-svg {
      fill: $color-main;
    }
  }
}
