.form {
  margin-top: 30px;
}

.form__title {
  margin: 0;
  margin-top: 25px;
  line-height: 26px;
}

.form__tagline {
  display: block;
  padding-top: 35px;
  padding-right: 50px;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.form__tagline--line-height {
  line-height: 18px;
}


.form__fieldset {
  border: none;
  margin-bottom: 9px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 19px;
}

.form__info {
  width: 100%;
  margin-top: 0;
  line-height: 18px;
}

.form__fieldset-email {
  margin-top: 37px;
}

.form__fieldset-number {
  margin-top: 15px;
}

.form__fieldset-email,
.form__fieldset-number {
  padding-top: 0;
  padding-bottom: 0;
}

.form__fieldset-area {
  margin-top: 37px;
  margin-bottom: -13px;
  padding: 0;
}

.form__fieldset-line {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: $color-border-d9;
  }
}

.form__wrapper-label {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form__flex-label {
  display: flex;
  align-items: center;
}

.form__label-text {
  text-transform: uppercase;
}

.form__input {
  max-width: 548px;
  flex-grow: 1;
  padding: 13px 0;
  padding-left: 17px;
  margin-left: 23px;
  border: 1px solid $color-e7e7e7;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $color-changes-border;
  }

  &:focus {
    border-color: $color-dark-grey;
  }

  &:invalid {
    border-color: $color-error;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.form__number {
  -moz-appearance: textfield; /* stylelint-disable-line */
}

.form__number::-webkit-inner-spin-button {
  -webkit-appearance: none; /* stylelint-disable-line */
}

.form__email,
.form__tel {
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

.form__email {
  background-image: url("../img/svg/letter.svg");

  &:focus {
    background-image: url("../img/svg/letter-focus.svg");
  }

  &:invalid {
    background-image: url("../img/svg/letter-error.svg");
  }
}

.form__tel {
  background-image: url("../img/svg/phone.svg");

  &:focus {
    background-image: url("../img/svg/phone-focus.svg");
  }

  &:invalid {
    background-image: url("../img/svg/phone-error.svg");
  }
}


.form__change-wrapper {
  display: flex;
  flex-direction: column;
}

.form__change-item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  padding: 0;
  padding-top: 9px;
  padding-left: 15px;
  border: 1px solid $color-changes-border;
  text-transform: uppercase;
}

.form__change-checkbox {
  margin-top: 15px;
}


.form__button-wrapper {
  margin-top: 15px;
}

.form__button {
  margin-bottom: 21px;
}

.form__required-text {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0;
}

.form__fake {
  display: block;
  height: 28px;
  width: 28px;
  margin-right: 16px;
  border: 1px solid $color-changes-border;
}

.form__fake-radio {
  border-radius: 100%;
}

.form__radio {
  &:hover {
    opacity: 0.5;
  }
}

.form__radio:hover + .form__fake {
  border-color: #bababa;
}

.form__radio:focus + .form__fake {
  border-color: #bababa;
}

.form__radio:checked + .form__fake {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: $color-main;
    border-radius: 100%;
    background-position: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__checkbox:hover + .form__fake {
  border-color: #bababa;
}

.form__checkbox:focus + .form__fake {
  border-color: #bababa;
}

.form__checkbox:checked + .form__fake {
  background-image: url("../img/svg/check.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (min-width: 767px) {
  .form {
    margin-bottom: 60px;
  }

  .form__main-title {
    margin-top: 50px;
  }

  .form__main-title,
  .form__title {
    padding-left: 40px;
  }

  .form__tagline {
    display: block;
    width: 323px;
    padding-top: 54px;
    padding-left: 40px;
  }

  .form__tagline--line-height {
    line-height: 30px;
  }

  .form__wrapeer {
    margin-top: 69px;
    padding: 0 0 0 0;
  }

  .form__fieldset {
    border: none;
    margin: 42px 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 30px;
  }

  .form__fieldset-email {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .form__fieldset-number {
    margin-top: 0;
    margin-bottom: 70px;
  }

  .form__fieldset-area {
    margin-top: 87px;
    margin-bottom: 80px;
  }

  .form__fieldset-line {
    &::after {
      display: none;
    }
  }

  .form__wrapper-label {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  .form__change-wrapper {
    border: 1px solid $color-border;
    padding: 25px 0 25px 25px;
    margin-top: 26px;
    margin-bottom: 40px;
  }

  .form__change-checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;

    .form__change-item {
      flex-basis: 46%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  .form__textarea {
    border-top: 0;
    border-bottom: 0;
    border: 1px solid $color-changes-border;
  }

  .form__button-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-top: -15px;
    margin-left: 43px;
  }

  .form__button {
    width: 282px;
    padding: 15px 0;
    margin-right: 64px;
  }

  .form__fake {
    height: 38px;
    width: 38px;
    margin-right: 25px;
  }

  .form__required-text {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .form {
    margin-bottom: 90px;
  }

  .form__main-title {
    margin-top: 65px;
    padding: 0;
  }

  .form__tagline {
    padding-left: 0;
    margin-bottom: 0;
  }

  .form__wrapeer {
    margin-top: 25px;
  }

  .form__fieldset {
    max-width: 570px;
    flex-grow: 1;
    padding: 0;
    margin-bottom: 0;
  }

  .form__fieldset-email,
  .form__fieldset-number {
    margin-top: 78px;
  }

  .form__change-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__title {
    margin-top: 75px;
    padding: 0;
  }

  .form__info {
    display: flex;
    flex-wrap: wrap;
    gap: 0 80px;
  }

  .form__fieldset-area {
    max-width: 1220px;
  }

  .form__change-checkbox {
    max-width: 1125px;
    margin-bottom: 35px;
    justify-content: flex-start;

    .form__change-item {
      flex-basis: auto;

      &:not(:last-child) {
        min-width: 232px;
        margin-right: 90px;
      }
    }
  }

  .form__button-wrapper {
    padding: 0;
    margin: 0;
  }

  .form__button {
    width: 568px;
  }
}
