.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

.inner {
  padding: 0 20px;
}

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.title-line {
  display: flex;
  justify-content: space-between;
  width: auto;

  &::after {
    content: "";
    display: block;
    right: 0;
    min-width: 52px;
    flex-grow: 1;
    height: 2px;
    background-color: $color-main;
    margin-top: 15px;
    margin-left: 20px;
  }
}

.tagline {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.link-button {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 8px 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $color-main;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $color-main-alt;

    &:active {
      opacity: 0.5;
    }
  }
}

.content {
  max-width: 280px;
  margin: 0 auto;
}

.mask {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $color-main;
    opacity: 0.85;
    z-index: -1;
  }
}

.text-page {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.main-link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.bold-text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}

.active {
  opacity: 1;
  visibility: hidden;
}

.link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.apostrofe {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.small-bold {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}

.button-page {
  border: none;
}

.main-link,
.logo,
.footer__logo,
.link {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

//TABLET
@media (min-width: 767px) {
  .content {
    max-width: 707px;
    margin: 0 auto;
  }

  .inner {
    padding: 0 30px;
  }

  .main-link {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .main-title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .tagline {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }

  .title-line {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -50px;
      z-index: -1;
      min-width: 30px;
      height: 2px;
      background-color: $color-main;
      margin-top: 15px;
      margin-left: 20px;
    }
  }

  .link-button {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .bold-text {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }

  .small-bold {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 26px;
  }

  .text-page {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
//TABLET

@media (min-width: 1440px) {
  .content {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .main-link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .title-line {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -130px;
      z-index: -1;
      min-width: 70px;
      height: 2px;
      background-color: $color-main;
      margin-top: 15px;
      margin-left: 20px;
    }
  }
}
