.another-product__content {
  padding: 0 20px;
}

.another-product__wrapper {
  margin-top: 8px;
}

.another-product__item {
  padding-top: 14px;
  padding-bottom: 19px;
  border-top: 1px solid $color-changes-border;
}

.another-product__caption {
  margin-bottom: 2px;
}

.another-product__table {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 767px) {
  .another-product {
    margin-top: -25px;
    margin-bottom: 76px;
  }

  .another-product__content {
    padding: 0 30px;
  }

  .another-product__title {
    padding-left: 38px;
  }

  .another-product__wrapper {
    margin-top: 80px;
  }

  .another-product__item {
    padding: 0 38px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-right: 1px solid $color-changes-border;
    border-left: 1px solid $color-changes-border;

    &:last-child {
      border-bottom: 1px solid $color-changes-border;
      margin-bottom: 69px;
    }
  }

  .another-product__table {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .another-product__cell {
    margin-right: 51px;
  }

  .another-product__button {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .another-product {
    margin-top: 15px;
    margin-bottom: 120px;
  }

  .another-product__wrapper {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .another-product__item {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    border-left: none;
    border-right: none;

    &:last-child {
      border-bottom: 1px solid $color-changes-border;
      margin-bottom: 0;
    }
  }

  .another-product__table {
    max-width: 600px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    margin-top: 11px;
  }

  .another-product__caption {
    min-width: 200px;
    max-width: 300px;
    text-align: left;
    padding-right: 120px;
    margin: 0;
  }

  .another-product__cell {
    min-width: 140px;
    text-align: left;
    flex-grow: 1;
    padding-right: 41px;
  }

  .another-product__price {
    min-width: 41px;
  }

  .another-product__title {
    padding: 0;
  }

  .another-product__description {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 40px;
  }

  .another-product__list {
    width: 895px;
    padding: 0;
  }

  .another-product__link-button-wrapper {
    width: 244px;
  }

  .another-product__aside {
    width: 245px;
  }
}
