.product-card__content {
  border-top: 1px solid $color-border-d9;
  padding-top: 27px;
  margin-bottom: 15px;
}

.product-card__list {
  margin-top: 40px;
}

.product-card__item {
  min-height: 190px;
  padding-top: 19px;
  border-top: 1px solid $color-border-d9;

  &:last-child {
    border-bottom: 1px solid $color-border-d9;
  }
}

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card__img {
  flex-shrink: 1;
  margin: 10px 35px 0 32px;
}

.product-card__big-img {
  margin: 10px 25px 0 32px;
}

.product-card__caption {
  padding-right: 55px;
}

.product-card__table {
  flex-grow: 1;
  padding-top: 9px;
  padding-left: 3px;
}

.product-card__button {
  margin-top: 15px;
}

.product-card__more {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 158px;
}

.product-card__plus {
  padding-bottom: 20px;
}

.product-card__bold-more {
  padding-bottom: 8px;
}

.product-card__text-more {
  font-size: 12px;
}

.product-card__button--more {
  color: $color-dark-grey;
  background-color: $color-basic-grey;

  &:hover {
    background-color: #ebebeb;
  }
}

@media (min-width: 767px) {
  .product-card {
    margin-top: 50px;
  }

  .product-card__content {
    border-top: 0;
    padding: 0 30px;
  }

  .product-card__list {
    margin-top: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 62px 20px;
  }

  .product-card__item {
    width: 324px;
    padding: 0;
    border-top: none;
    position: relative;
    margin-bottom: 80px;
  }

  .product-card__show {
    border: 2px solid $color-basic-grey;
  }

  .product-card__wrapper {
    display: block;
    width: 250px;
    min-height: 430px;
    margin: 0 auto;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 324px;
      height: 430px;
      background-color: $color-basic-grey;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;
    }
  }

  .product-card__picture {
    display: block;
    min-height: 135px;
    position: relative;
  }

  .product-card__img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    margin: 0;
    background-color: inherit;
  }

  .product-card__caption {
    width: 130px;
    margin: 0 auto;
    padding-top: 35px;
    padding-left: 55px;
  }

  .product-card__more {
    width: 250px;
    min-height: 430px;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  .product-card__table {
    width: 100%;
    flex-grow: 0;
  }

  .product-card__row {
    padding: 6px 0;
    border-bottom: 1px solid $color-changes-border;
  }

  .product-card__button {
    margin-top: 33px;
    font-size: 16px;
  }

  .product-card__plus {
    padding-top: 55px;
    margin-bottom: 30px;
  }

  .product-card__bold-more {
    display: block;
    width: 150px;
    margin: 0 auto;
  }

  .product-card__text-more {
    margin-top: 1px;
    margin-bottom: 85px;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .product-card {
    margin-top: 62px;
  }

  .product-card__list {
    margin-top: 145px;
  }

  .product-card__item {
    width: 245px;
  }

  .product-card__wrapper {
    display: block;
    width: 196px;
    min-height: 430px;
    margin: 0 auto;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 430px;
      background-color: $color-basic-grey;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;
    }
  }

  .product-card__table {
    width: 170px;
    margin: 0 auto;
  }

  .product-card__caption {
    padding: 0;
    padding-top: 45px;
  }

  .product-card__button {
    padding: 12px 0;
  }

  .product-card__more {
    width: 196px;
  }

  .product-card__plus {
    padding-top: 75px;
    padding-bottom: 10px;
  }

  .product-card__bold-more {
    padding-bottom: 10px;
  }

  .product-card__text-more {
    width: 170px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 50px;
  }
}
