.advantages {
  margin-top: 20px;
}

.advantages__content {
  padding: 0 20px;
}

.advantages__list {
  margin-top: 40px;
}

.advantages__item {
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    display: block;
    padding-right: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $color-main;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages__item--one {
  &::before {
    background-image: url("../img/svg/leaf.svg");
  }
}

.advantages__item--two {
  &::before {
    background-image: url("../img/svg/glass.svg");
  }
}

.advantages__item--three {
  &::before {
    background-image: url("../img/svg/eat.svg");
  }
}

.advantages__item--four {
  &::before {
    background-image: url("../img/svg/watch.svg");
  }
}
