.another-product {
  margin-top: 13px;
}

.another-product__content {
  padding: 0 20px;
}

.another-product__list {
  margin-top: 36px;
}

.another-product__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $color-changes-border;
}

.another-product__caption {
  margin-bottom: 13px;
}

.another-product__table {
  width: 100%;
  margin-bottom: 15px;
}
