.burger__button {
  border: 0;
  background-color: inherit;
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    right: 0;
    background-color: $color-black;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger__line {
  position: absolute;
  width: 24px;
  top: 7px;
  right: 0;
  height: 1.5px;
  background-color: $color-black;
}
