.categories {
  margin-bottom: 20px;
}

.categories__item {
  max-width: 280px;
  margin: 0 auto;
  background-color: $color-basic-grey;
  margin-bottom: 20px;
  padding: 30px 20px 23px 20px;
}

.categories__bold-text {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color-main;
    border-radius: 100%;
    margin-right: 19px;
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
  }
}

.categories__bold-text--slim {
  position: relative;

  &::after {
    position: absolute;
    width: 36px;
    height: 50px;
    left: 7px;
    bottom: 3px;
    background-image: url("../img/svg/cat-slim.svg");
  }
}

.categories__bold-text--pro {
  position: relative;

  &::after {
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../img/svg/cat-pro.svg");
    left: -7px;
    bottom: 10px;
  }
}

.categories__text {
  padding-bottom: 23px;
  border-bottom: 1px solid $color-border-d9;
}


.categories__link {
  display: inline-block;
  color: $color-black;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 50px;

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    position: absolute;
    top: 6px;
    right: 0;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
  }
}
