.example {
  margin-top: 53px;
}

.example__body {
  background-color: $color-basic-grey;
}

.example__content {
  padding: 0 20px;
  padding-top: 25px;
}

.example__main-title {
  margin-bottom: 40px;
}

.example__before-after {
  position: relative;
  min-height: 256px;
}

.example__picture {
  position: absolute;
}

.example__img {
  max-width: none;
}

.example__picture-before {
  width: 50%;
  overflow: hidden;
  z-index: 2;
  background-color: $color-basic-grey;
}

.example__picture-after {
  width: -50%;
  overflow: hidden;
  z-index: 1;
}


.example__changes {
  margin-top: 20px;
}

@media (min-width: 767px) {
  .example {
    margin: 0;
    padding-top: 43px;
  }

  .example__content {
    padding: 0 30px;
    padding-top: 25px;
  }

  .example__changes {
    margin-top: 54px;
  }
}
