.header {
  margin-top: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
  padding-bottom: 13px;
}


.header__logo {
  margin-left: 20px;
}

.header__menu {
  width: 100%;
  position: absolute;
  z-index: 5px;
  top: 55px;
  background-color: $color-white;
}

.header__burger {
  margin-right: 20px;
}

.header__item {
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.header__link {
  width: 100%;
  display: block;
  padding: 22px 0;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}
