.invite__content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invite__text {
  line-height: 20px;
}

.invite__content--background {
  background-color: $color-basic-grey;
}
