.invite__content {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.invite__small-bold {
  padding: 0 20px;
}

.invite__text {
  line-height: 20px;
  padding: 0 20px;
}

.invite__content--background {
  background-color: $color-basic-grey;
}
