.invite__content {
  padding: 20px 0;
}

.invite__adress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.invite__small-bold {
  padding: 0 20px;
}

.invite__text {
  line-height: 20px;
  padding: 0 20px;
}

@media (min-width: 767px) {
  .invite__small-bold {
    width: 150px;
    padding-left: 30px;
    line-height: 26px;
  }

  .invite__text {
    width: 160px;
    padding-right: 30px;
  }

  .invite__city-name {
    display: inline-block;
    padding-top: 25px;
  }
}

