.map {
  background-color: $color-basic-grey;
}

.map__wrapper {
  max-width: 100%;
  min-height: 362px;
  position: relative;
}

.map__iframe {
  border: 0;
  position: absolute;
  width: 100%;
  min-height: 362px;
}
