.promo {
  margin-bottom: 20px;
}

.promo__body {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  min-height: 302px;

  &::before,
  &::after {
    content: "";
    width: 100%;
    min-height: 302px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    background-image: url("../img/jpeg/promo-bacground.jpg");
    background-repeat: no-repeat;
    z-index: -2;
  }
}

.promo__main-title {
  color: $color-white;
  padding: 27px 0;
  text-align: center;
}

.promo__tagline {
  text-align: center;
  color: $color-white;
}

.promo__img {
  display: block;
  text-align: center;
}

.promo__wrapper {
  text-align: center;
  padding: 0 20px;
}

.promo__link-button {
  background-color: $color-main;
  color: $color-white;
}

//TABLET
@media (min-width: 767px) {
  .promo {
    margin-top: 62px;
  }

  .promo__body {
    max-width: 767px;
    min-height: 780px;


    &::before,
    &::after {
      display: none;
    }
  }

  .promo__content {
    padding-left: 87px;
  }

  .promo__main-title {
    color: $color-black;
    text-align: left;
    padding: 0;
    padding-right: 130px;
  }

  .promo__tagline {
    text-align: left;
    color: $color-black;
    margin-top: 41px;
  }

  .promo__img {
    position: absolute;
    z-index: -1;
    right: 60px;
  }

  .promo__wrapper {
    max-width: 244px;
    margin-top: 49px;
    padding: 0;
  }

  .promo__link-button {
    width: 100%;
  }
}


//TABLET
