@import "./global/colors.scss";
@import "../sass/global/another.scss";
@import "./global/fonts.scss";
@import "../sass/bloks/list.scss";
@import "../sass/bloks/header.scss";
@import "../sass/bloks/burger.scss";
@import "../sass/bloks/index/promo.scss";
@import "../sass/global/mixins.scss";
@import "../sass/bloks/index/categories.scss";
@import "../sass/bloks/index/advantages.scss";
@import "../sass/bloks/index/example.scss";
@import "../sass/bloks/index/changes.scss";
@import "../sass/bloks/invite.scss";
@import "../sass/bloks/map.scss";
@import "../sass/bloks/footer.scss";
@import "../sass/bloks/media-list.scss";
@import "../sass/bloks/forms/form.scss";
@import "../sass/bloks/catalog/aside.scss";
@import "../sass/bloks/index/slider.scss";
//catalog
@import "../sass/bloks/catalog/table.scss";
@import "../sass/bloks/catalog/another-product.scss";
@import "../sass/bloks/catalog/product-card.scss";
//catalog
@import "../sass/global/normalize.scss";
