.table__caption {
  text-align: left;
  font-weight: 400;
}

.table__row {
  display: flex;
  justify-content: space-between;
}

.table__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.table__text--another {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 767px) {
  .table {
    width: 250px;
  }

  .table__row {
    padding: 9px 0;
    border-bottom: 1px solid $color-changes-border;
  }

  .table__caption {
    width: 130px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-weight: 400;
  }

  .table__text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}
