.categories {
  margin-bottom: 20px;
}

.categories__item {
  max-width: 280px;
  margin: 0 auto;
  background-color: $color-basic-grey;
  margin-bottom: 10px;
  padding: 30px 20px 23px 20px;
}

.categories__program-name {
  display: flex;
}

.categories__ilustration {
  width: 50px;
  height: 50px;
  background-color: $color-main;
  border-radius: 100%;
}

.categories__ilustration-svg {
  position: relative;
}

.categories__ilustration-svg--slim {
  top: -3px;
  left: 7px;
}

.categories__ilustration-svg--pro {
  top: 15px;
  right: 10px;
}

.categories__bold-text {
  text-transform: uppercase;
  margin-left: 19px;
}

.categories__text {
  padding-top: 22px;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-border-d9;
}


.categories__link {
  display: inline-block;
  color: $color-black;
  text-transform: uppercase;
  position: relative;
  padding-right: 51px;

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    position: absolute;
    top: 33%;
    right: 0;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 767px) {
  .categories {
    margin-bottom: 0;
  }

  .categories__content {
    padding: 0 30px;
  }

  .categories__program-name {
    position: relative;
  }

  .categories__item {
    max-width: 100%;
    background-color: $color-basic-grey;
    margin-bottom: 25px;
    padding: 82px 60px 57px 52px;
  }

  .categories__ilustration {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15px;
    right: 0;
  }

  .categories__ilustration-svg--slim {
    width: 140px;
    height: 194px;
    top: -10px;
    left: 40px;
  }

  .categories__ilustration-svg--pro {
    width: 268px;
    height: 112px;
    top: 55px;
    right: 30px;
  }

  .categories__bold-text {
    display: block;
    margin: 0;
  }

  .categories__text {
    margin-bottom: 0;
    padding-top: 24px;
    padding-right: 260px;
    padding-bottom: 52px;
    border-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .categories {
    padding: 0;
    margin-top: 0;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 46.73%;
    margin: 0;
    padding: 0;
  }

  .categories__program-name {
    align-items: center;
  }

  .categories__ilustration {
    position: static;
    width: 100px;
    height: 100px;
  }

  .categories__ilustration-svg--slim {
    width: 70px;
    height: 97px;
    top: -5px;
    left: 17px;
  }

  .categories__ilustration-svg--pro {
    width: 134px;
    height: 56px;
    top: 25px;
    left: -25px;
  }

  .categories__text-wrapper {
    padding: 47px 61px 59px 52px;
  }

  .categories__bold-text {
    margin-left: 62px;
  }

  .categories__text {
    padding-top: 39px;
    padding-right: 0;
    padding-bottom: 27px;
  }

  .categories__link {
    text-transform: uppercase;
  }
}
