.promo {
  margin-bottom: 20px;
}

.promo__body {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 302px;

  &::before,
  &::after {
    content: "";
    width: 100%;
    min-height: 302px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50%;
  }

  &::after {
    background-image: url("../img/jpeg/promo-background.jpg");
    background-color: $color-main;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpeg/promo-background-x2.jpg");
    }
  }
}

.promo__main-title {
  color: $color-white;
  padding: 27px 0 12px 0;
  text-align: center;
}

.promo__tagline {
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.promo__img {
  display: block;
  text-align: center;
}

.promo__button-wrapper {
  text-align: center;
  margin-top: 4px;
}

.promo__link-button {
  background-color: $color-main;
  color: $color-white;
}

//TABLET
@media (min-width: 767px) {
  .promo {
    margin-top: 55px;
  }

  .promo__body {
    max-width: 707px;
    min-height: 780px;


    &::before,
    &::after {
      display: none;
    }
  }

  .promo__wrapper {
    padding-left: 87px;
  }

  .promo__main-title {
    color: $color-black;
    text-align: left;
    padding: 0;
    padding-right: 50px;
  }

  .promo__tagline {
    text-align: left;
    color: $color-black;
    margin-top: 41px;
  }

  .promo__img {
    position: absolute;
    z-index: -1;
    right: -5px;
    bottom: -33px;
  }

  .promo__button-wrapper {
    max-width: 240px;
    margin-top: 39px;
    padding: 0;
    padding-left: 92px;
  }

  .promo__link-button {
    width: 100%;
    padding: 15px 0;
  }
}
//TABLET


@media (min-width: 1440px) {
  .promo {
    margin: 0;
  }

  .promo__body {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 650px;

    &::before,
    &::after {
      content: "";
      width: 50%;
      min-height: 705px;
      display: block;
      position: absolute;
      top: -180px;
      left: 50%;
    }

    &::after {
      width: 50%;
      background-image: url("../img/jpeg/promo-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 100% 697px;
      background-position: right;
      z-index: -3;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/jpeg/promo-bacground-dekstop-x2.jpg");
      }
    }
  }

  .promo__content {
    padding: 0;
    width: 100%;
    position: relative;
  }

  .promo__wrapper {
    padding-left: 80px;
  }

  .promo__main-title {
    width: 500px;
    padding: 0;
    padding-top: 95px;
  }

  .promo__img {
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 59.5%;
    transform: translate(-55%);

    img {
      max-width: none;
    }
  }

  .promo__button-wrapper {
    margin-top: 50px;
    padding-left: 82px;
  }

  .promo__link-button {
    width: 240px;
    padding: 17px 0;
  }
}
