.slider {
  width: 100%;
  z-index: 5;
  top: 50%;
}

.slider__range {
  width: 100%;
  appearance: none;
  background: inherit;
  position: relative;
  -webkit-appearance: none; /* stylelint-disable-line */ //Стайлинт ругается на браузерный префиксы//
  -moz-appearance: none; /* stylelint-disable-line */
  appearance: none; /* stylelint-disable-line */
  z-index: 5;

  &::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none; /* stylelint-disable-line */
    -moz-appearance: none; /* stylelint-disable-line */
    appearance: none; /* stylelint-disable-line */
    width: 40px;
    height: 260px;
    background-image: url("../img/png/slider-default.png");
    background-repeat: no-repeat;
    background-position: 50%;

    &:active {
      opacity: 0.7;
    }
  }

  &:hover,
  &:focus {
    &::-webkit-slider-thumb {
      background-repeat: no-repeat;
      background-image: url("../img/png/slider-hover.png");
    }
  }
}

@media (min-width: 767px) {
  .slider__range {
    &::-webkit-slider-thumb {
      width: 40px;
      height: 512px;
      background-image: url("../img/png/slider-tablet-default.png");
    }

    &:hover,
    &:focus {
      &::-webkit-slider-thumb {
        background-repeat: no-repeat;
        background-image: url("../img/png/slider-tablet-hover.png");
      }
    }
  }
}
